@model IEnumerable<WebApplicationMVC_EmailConf.Models.Sub_Step>

@{
    ViewBag.Title = "Index";
}

<h2>Sub Steps</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Step Name
        </th>
        <th>
            SubStep Name
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_By)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Step.Name)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Name)</b>
            </td>

            <td>
                <div style="overflow-y:scroll;max-height:100px;max-width:350px;">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_By)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubStep_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SubStep_ID }) |
                @Html.ActionLink("Deactivate", "Delete", new { id = item.SubStep_ID })
            </td>
        </tr>
    }
</table>