@model WebApplicationMVC_EmailConf.Models.Medium

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
