@model IEnumerable<WebApplicationMVC_EmailConf.Models.Medium>

@{
    ViewBag.Title = "Index";
}

<h2>Step Media Links</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Step.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VideoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Step.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaID })
        </td>
    </tr>
}

</table>
