@model IEnumerable<WebApplicationMVC_EmailConf.Models.CredCheckerQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Cred Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            Q Nbr#
        </th>
        <th>
            Parent ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CCQID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentQID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CCQID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CCQID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CCQID })
        </td>
    </tr>
}

</table>
