@model IEnumerable<WebApplicationMVC_EmailConf.Models.Tick>

@{
    ViewBag.Title = "Index";
}

<h2>Ticks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TickType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TickType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TickID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TickID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TickID })
        </td>
    </tr>
}

</table>
